In [7]:
import boto3
import pandas as pd

s3 = boto3.resource('s3')
bucket_name = 'dalle2images'
my_bucket = s3.Bucket(bucket_name)

In [10]:
# get list of fake image names from the "fake" folder
fake_image_names = []
for object in my_bucket.objects.filter(Prefix='fake/'):
    fake_image_names.append(object.key.split("/")[-1])

In [20]:
# load merged dataframe
df = pd.read_csv("/Users/scottlai/Desktop/coding_project/705project/DallE2-ai-generator-scott/AI_generate/df_final.csv")

In [22]:
# filter out fake image names from the merged dataframe and get their corresponding class
fake_image_class = []
for image_name in fake_image_names:
    row = df.loc[df['Name'] == image_name]
    if not row.empty:
        fake_image_class.append(row.iloc[0][['Name','FacialExp', 'Glasses', 'Gender', 'Race']].tolist())

In [23]:
# create a new dataframe containing the fake image names and their corresponding class
fake_image_df = pd.DataFrame(fake_image_class)

In [24]:
fake_image_df

               0        1  2      3                4
0      00000.png  neutral  0  Woman            asian
1      00002.png  neutral  0  Woman            black
2      00004.png  neutral  0    Man  latino hispanic
3      00006.png      pos  0  Woman            white
4      00008.png      pos  1  Woman            asian
...          ...      ... ..    ...              ...
21429  69980.png      neg  0    Man            white
21430  69986.png      neg  0  Woman            white
21431  69990.png      pos  0    Man  latino hispanic
21432  69997.png      neg  1    Man            asian
21433  69999.png      pos  0    Man  latino hispanic

[21434 rows x 5 columns]

In [25]:
# save the dataframe to a new csv file
fake_image_df.to_csv('fake_image_class.csv', index=False)